<h1>Listing my_test_scaffolds</h1>

<table>

<% @my_test_scaffolds.each do |my_test_scaffold| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td><%= my_test_scaffold.title %></td>
    <td><%= my_test_scaffold.description %></td>
    <td><%= my_test_scaffold.image_url %></td>
    <td><%= my_test_scaffold.price %></td>
    <td><%= link_to 'Show', my_test_scaffold %></td>
    <td><%= link_to 'Edit', edit_my_test_scaffold_path(my_test_scaffold) %></td>
    <td><%= link_to 'Destroy', my_test_scaffold, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New My test scaffold', new_my_test_scaffold_path %>
