<% if notice %>
  <p id="notice"><%= notice %></p>
<% end  %>

<h1>Book catalog</h1>

<% @my_test_scaffolds.each do |mts| %>

  <div class="entry">
    <%= link_to(image_tag(mts.image.url), shop_items_path(:my_test_scaffold_id => mts), :method => :post) %>
    <h3><%= mts.title %></h3>
    <%= sanitize mts.description %><!--Sanitize allows to use any html tags inside-->
    <div class="price_line">
      <span class="price"><%= currency(mts.price) %></span><!--See helper for currency()-->
      <%= button_to 'Add to cart', shop_items_path(:my_test_scaffold_id => mts), :remote => true %> <!-- remote is for AJAX request -->
    </div>
  </div>

<% end %>
