<h1 align="center">Home#index</h1>
<p><%= link_to "Google Maps", google_map_index_path %></p>
<p><%= link_to "My Store", my_store_path %></p>
<p><%= link_to "My Test Scaffold", my_test_scaffolds_path %></p>
<p><%= link_to "Svetik Home", svetik_home_path %></p>
<p><%= link_to "Say Hello", say_hello_path %></p>
<p><%= link_to "Say Goodbye", say_goodbye_path %></p>


