<h2 class="shop_cart_title">Shop Cart</h2>
<% if notice %><p id="notice"><%= notice %></p><% end %>

<table>
  <%= render(@shop_cart.shop_items) %> <!-- for shop_item in @shop_cart.shop_items -->
  <!-- see patial template ../shop_items/_shop_item.htnl.erb -->

  <tr class="cart_total_row">
    <td colspan="2">Total</td>
    <td class="cart_total_price"><%= number_to_currency @shop_cart.total_price %></td>
  </tr>
</table>

<%= button_to 'Checkout', user_orders_url, :method => :get %>
<%= button_to 'Remove all items from cart', @shop_cart, :method => :delete, :confirm => 'It will remove all items from the cart. OK?'%>
<!--<%= link_to 'Edit', edit_shop_cart_path(@shop_cart) %> |
<%= link_to 'Back', shop_carts_path %>-->
