<p><h1>GoogleMap#index</h1></p>
<dl>
  <dt><%= label_tag :from_address, 'From Address', :id => 'from_address_label' %></dt>
  <dd><%= text_field_tag :from_address, nil, :size => 20, :onkeypress => 'return reLocateViaEnter("from")' %>
  <%= submit_tag 'Show', :id => 'show_button', :onclick => 'reLocate("from");' %></dd>

  <dt><%= label_tag :to_address, 'To Address', :id => 'to_address_label' %></dt>
  <dd><%= text_field_tag :to_address, nil, :size => 20, :onkeypress => 'return reLocateViaEnter("to")' %>
  <%= submit_tag 'Show Directions', :id => 'show_directions_button', :onclick => 'showDirections();' %></dd>
</dl>

<div id="map_canvas"></div>

<div id="road"></div>