  <%= stylesheet_link_tag("google_map.css") %>
  <%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false&libraries=places&language=en" %>
  <%= javascript_include_tag "google_map" %>

<p><h1>GoogleMap#index</h1></p>
<dl>
  <dt><%= label_tag :from_address, 'From Address', :id => 'from_address_label' %></dt>
  <dd><%= text_field_tag :from_address, nil, :size => 20, :onkeypress => 'return reLocateViaEnter()' %>
  <%= submit_tag 'Show', :id => 'show_button', :onclick => 'reLocate();' %></dd>

  <dt><%= label_tag :to_address, 'To Address', :id => 'to_address_label' %></dt>
  <dd><%= text_field_tag :to_address, nil, :size => 20, :onkeypress => 'return showDirectionsViaEnter()' %>
  <%= submit_tag 'Show Directions', :id => 'show_directions_button', :onclick => 'showDirections();' %></dd>
</dl>

<div id="map_canvas"></div>

<div id="road"></div>
<div id="back">
  <%= link_to "Back to Home", "/" %>
</div>