<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @car.name %>
</p>

<p>
  <b>Options:</b>
  <%= @car.options %>
</p>

<p>
  <b>State:</b>
  <%= @car.state %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
