<h1>Page that requires Facebook access</h1>

<% if @current_user %>
  Current User: <%= @current_user %><br/><br/>
  <% if @fb_users %>
    <table>
      <tr>
        <th>Graph</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
      </tr>

      <% @fb_users.each do |fb_user| %>
        <tr>
          <td><%= fb_user.graph_id %></td>
          <td><%= fb_user.first_name %></td>
          <td><%= fb_user.last_name %></td>
          <td><%= fb_user.email %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% else %>
  You need to be authenticated <%= link_to 'Login', Koala::Facebook::OAuth.new.url_for_oauth_code(:callback => @oauth_redirect_url) %>
<% end %>


