<!DOCTYPE html>
<html>
<head>
  <title>My Book Store</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body id="store">

<div id="banner">
  <%= image_tag('logo.jpg', :size => "60x40", :alt => 'Logo') %>
  <%= @page_title || "My Book Store" %>
</div>

<div id="columns">

  <div id="side">
    <% if @shop_cart %>
      <%= hide_div_if(@shop_cart.shop_items.empty?, :id => "shop_cart") do %> <!-- Appplication controller helper -->
        <%= render(@shop_cart) %> <!-- @shop_cart is set in controller, also see partial template ../shop_carts/_shop_cart.html.erb -->
      <% end %><!-- hide_div_if -->
    <% end %>
    <%= link_to "Home", '/' %><br/>
    <%= link_to "Book Store", my_store_path %><br/>
    <%= link_to "My Test Scaffold", my_test_scaffolds_path %><br/>
    <%= link_to "User  Orders", user_orders_path %><br/>
  </div>

  <div id="main">
    <%= yield %>
  </div>

</div>

</body>
</html>